<template>
    <form>
        <div class = "form-group">
            <label for="firstName"> First Name</label>
            <input value.bind='user.firstName' type="texxt" class="form-control" id="firstName"
            aria-describedby="firstNameHelp" placeholder="Enter first name">
        </div>
    <div class="form-group">
        <label for="firstName">Last Name </label>
        <input value.bind='user.lastName' type="texxt" class="form-control" id="lastName"
            aria-describedby="lastNameHelp" placeholder="Enter last name">
    </div>
    <div class="form-group">
            <label for="exampleInputEmail1"> Email address </label>
            <input value.bind='user.email' type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-tet text-muted"> We'll never share email with anyone else</small>
        </div>
        <div class="form-group">
                <label for="exampleInputPassword1"> Password </label>
                <input value.bind='user.password' type="password" class="form-control" id="exampleInputPassword1"
                    aria-describedby="passwordHelp" placeholder="Password">
        </div>
                <button class="btn btn-primary" click.triggers="save()"> Register </button>
                </form>
            </template>
        




            




    </form>
        <h1>${message}</h1>
        <button click.trigger="newUser()">New User</button>
         <compose view="./components/editUser.html">	</compose>
    </template>

<template>
            First Name: <input value.bind="user.firstName">
            Last Name: <input value.bind="user.lastName">
            Active: <input value.bind="user.active">
            Role: <input value.bind="user.role">
            Email: <input value.bind="user.email">
            Password: <input value.bind="user.password">
            <button click.trigger="save()">Save</button>
        </template>
        